.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 20px auto;
  width: 100%;
}

.info__List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background: rgba(255, 96, 96, 1);
  cursor: pointer;

  h3 {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
  }

  .arrow {
    width: 16px;
    height: 9px;
    transition: transform 0.3s ease;

    &.visible {
      transform: rotate(180deg);
    }
  }
}

.info__text {
  background: rgba(246, 246, 246, 0.45);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.43;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  transition: max-height 0.3s ease, padding 0.3s ease;

  &.visible {
    max-height: 500px;
    padding: 10px;
  }
}

@media screen and (min-width: 900px) {
  .info__container {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
  }

  .info__List {
    height: 54px;
    padding: 0 20px;

    h3 {
      font-size: 24px;
    }

    .arrow {
      width: 24px;
      height: 14px;
    }
  }

  .info__text {
    font-size: 18px;
    padding: 0 20px;

    &.visible {
      padding: 0 20px;
    }
  }
}
