.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  img {
    filter: brightness(0) invert(1);
    width: 122px;
    height: 39px;
  }
  p {
    width: 30%;
    font-weight: 500;
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    justify-content: flex-end;
    p {
      margin: 40px 0px 35px 0px;
      width: 50%;
      font-size: 24px;
    }
  }
}
