html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: montserrat;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: 1.25rem auto; 
  padding: 0 1.25rem; 
  box-sizing: border-box;
}